    @import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
    *{
        padding: 0;
        margin: 0;
        font-family: "Overpass", sans-serif;
        box-sizing: border-box;
        color: white;
    }
    body{
        justify-content: center;
        justify-items: center;
        align-items: center;
        min-height: 100vh;
        display: flex;
        background-color: hsl(216, 12%, 8%);
    }
    .rating-card{
        background-color: hsl(213, 19%, 18%);
        width: 90%;
        max-width: 400px;
        padding: 1.5rem;
        border-radius: 20px;
        height: 370px;
        margin: 1rem;
    }
    .rating-card img{
        padding: 0.8rem;
        background-color: hsla(217, 12%, 63%, 0.081);
        border-radius: 100%;
        margin-bottom: 1rem;
    }
    .rating-card h2{
        margin-bottom: 1rem;
    }
    .rating-card p{
        margin-bottom: 1rem;
        line-height: 1.5rem;
    
    }
    .container{
        display: flex;
        margin-bottom: 2rem;
    }
    .rate{

        width: 50px;
        height: 50px;
        background-color:hsla(217, 12%, 63%, 0.081) ;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-right: 1rem;
        cursor: pointer;
        font-weight: 700;
    }
    .rate:hover{
        background-color: hsl(25, 97%, 53%);
        color: black;
    }
    .submit{
        text-align: center;
        padding: 0.6rem 8rem;
        background-color: hsl(25, 97%, 53%);
        margin-left: 0.8rem;
        color: black;
        border-radius: 30px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }
    .submit:hover{
        background-color: white;
    }
    .thank-card{
        background-color: hsl(213, 19%, 18%);
        width: 90%;
        max-width: 400px;
        padding: 1.25rem;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
        height: 370px;
        display: none;
        margin: 1rem;
    }
    .thank-card img{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .result{
        padding: 0.3rem 1rem;
        background-color: hsla(217, 12%, 63%, 0.081);
        border-radius: 30px;
        margin-bottom: 2rem;
        
    }
    .result span{
        color: hsl(25, 97%, 53%);
    }
    .thank-card h2{
        margin-bottom: 0.5rem;
    }
    p{
        color: hsl(217, 12%, 63%);
    }
@media (max-width:400px){
    .submit{
        padding: 0.6rem 5rem;
    }
    .rate{
        margin-right: 0.3rem;
    }
}